@font-face {
  font-family: "rtcase"; /* Project id 3190798 */
  src: url('iconfont.eot?t=1646121250146'); /* IE9 */
  src: url('iconfont.eot?t=1646121250146#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1646121250146') format('woff2'),
       url('iconfont.woff?t=1646121250146') format('woff'),
       url('iconfont.ttf?t=1646121250146') format('truetype'),
       url('iconfont.svg?t=1646121250146#rtcase') format('svg');
}

.rtcase {
  font-family: "rtcase" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rtcase-dataflow:before {
  content: "\e732";
}

.rtcase-newelement:before {
  content: "\e733";
}

.rtcase-package:before {
  content: "\e734";
}

.rtcase-parameterright:before {
  content: "\e735";
}

.rtcase-process:before {
  content: "\e736";
}

.rtcase-paste:before {
  content: "\e737";
}

.rtcase-newproject:before {
  content: "\e738";
}

.rtcase-print:before {
  content: "\e739";
}

.rtcase-portgroup2:before {
  content: "\e73a";
}

.rtcase-portgroup:before {
  content: "\e73b";
}

.rtcase-project:before {
  content: "\e73c";
}

.rtcase-project1:before {
  content: "\e73d";
}

.rtcase-relativename:before {
  content: "\e73e";
}

.rtcase-redo:before {
  content: "\e73f";
}

.rtcase-question:before {
  content: "\e740";
}

.rtcase-propertyname:before {
  content: "\e741";
}

.rtcase-revocation:before {
  content: "\e742";
}

.rtcase-project2:before {
  content: "\e743";
}

.rtcase-save:before {
  content: "\e744";
}

.rtcase-search:before {
  content: "\e745";
}

.rtcase-SDE:before {
  content: "\e746";
}

.rtcase-terminator:before {
  content: "\e747";
}

.rtcase-specification:before {
  content: "\e748";
}

.rtcase-template:before {
  content: "\e749";
}

.rtcase-architecturediagram:before {
  content: "\e712";
}

.rtcase-assembly:before {
  content: "\e713";
}

.rtcase-busaccess:before {
  content: "\e714";
}

.rtcase-childport:before {
  content: "\e715";
}

.rtcase-concurrencydiagram:before {
  content: "\e716";
}

.rtcase-dataaccessprovide:before {
  content: "\e717";
}

.rtcase-dataelement:before {
  content: "\e718";
}

.rtcase-csu:before {
  content: "\e719";
}

.rtcase-dataaccessrequire:before {
  content: "\e71a";
}

.rtcase-blue:before {
  content: "\e71b";
}

.rtcase-cut:before {
  content: "\e71c";
}

.rtcase-copy:before {
  content: "\e71d";
}

.rtcase-controlflow:before {
  content: "\e71e";
}

.rtcase-eventport:before {
  content: "\e71f";
}

.rtcase-dataportinout:before {
  content: "\e720";
}

.rtcase-dataportlin:before {
  content: "\e721";
}

.rtcase-document:before {
  content: "\e722";
}

.rtcase-fullname:before {
  content: "\e723";
}

.rtcase-eventportout:before {
  content: "\e724";
}

.rtcase-green:before {
  content: "\e725";
}

.rtcase-eventportin:before {
  content: "\e726";
}

.rtcase-finderopen:before {
  content: "\e727";
}

.rtcase-eventportinout:before {
  content: "\e728";
}

.rtcase-finderclose:before {
  content: "\e729";
}

.rtcase-library:before {
  content: "\e72a";
}

.rtcase-informationhiddenmodule:before {
  content: "\e72b";
}

.rtcase-flowchart:before {
  content: "\e72c";
}

.rtcase-parameterleft:before {
  content: "\e72d";
}

.rtcase-enhancedflowdiagram:before {
  content: "\e72e";
}

.rtcase-dataportout:before {
  content: "\e72f";
}

.rtcase-link:before {
  content: "\e730";
}

.rtcase-modelogicalfunction:before {
  content: "\e731";
}

